$primary : #8BA900;
body, html {
  padding: 0px;
  margin: 0px;
  font-family: "Rubik", sans-serif;
}

body {
  background-image: url("../assets/images/dostavim_ny_014.png");
  background-position-y: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.upparrow {
  position: fixed;
  right: 5vw;
  bottom: 10vh;
  cursor: pointer;
  opacity: .6;
}

header {
  background-color: white;
  border-top: .55px solid rgba(0,0,0,.1);

  .wrapper {
    max-width: 1060px;
    width: 100%;
    margin: auto;
    padding: 5px;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: 135px;
      }
      .phone {
        display: flex;
        align-items: center;
        .phone_img {
          width: 30px;
          margin-right: .2vw;
        }
        a {
          img {
            width: 2vw;
          }
        }
        .item {
          font-size: 15px;
          color: #333;
          font-weight: bolder;
          &:nth-child(n+3) {
            margin-left: 1vw;
          }
        }
      }
      .profil {
        display: flex;
        align-items: center;
        .profil_img {
          width: 22px;
          margin-right: .5vw;
        }
        a {
          text-decoration: none;
          color: #333333;
          font-size: 15px;
          background-color: transparent;
          transition-property: background-color, box-shadow, border, color, opacity, transform;
        }
      }
      .btn {
        font-size: 13px;
        padding: 10px 20px;
      }
    }
  }
  .navigation {
    width: 100%;
    border-top: .55px solid rgba(0,0,0,.35);
    border-bottom: .55px solid rgba(0,0,0,.35);

    .wrapper {
      max-width: 1060px;
      width: 100%;
      margin: auto;
      display: flex;
      padding: 10px;
      .item {
        a {
          color: #333333;
          text-transform: uppercase;
          font-size: 14px ;
          padding: 5px 15px;
          text-decoration: none;
          &:hover {
            color: #f34b42;
            transition: all .3s;

          }
        }
      }
    }
  }
}

.navigation_mobile {
  display: none;
}


.btn {
  width: fit-content;
  font-size: .9vw;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1vw 1.1vw;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 0.05vw;
  color: white;

  &:hover {
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  }

  &.primary {
    background-color: $primary;
  }
  &.warn {
    background-color: #f34b42;
    padding: 1vw 1.5vw;
  }
  &.white {
    background-color: white;
    color: #3C76C8;
  }

}

main {
  width: 100%;
  padding-top: 2vw;
  font-family: 'Rubik', sans-serif;
  background-color: rgb(245, 245, 245);
  .info_box {
    max-width: 1060px;
    width: 100%;
    margin: auto;
    display: flex;
    .left {
      width: 40%;
      padding: 1.5vw .5vw 1.5vw 2vw;
      background-image: url("../assets/images/dostavim_ny_11.png");
      background-size: cover;
      background-repeat: no-repeat;
      color: #666666;
      .title {
        color: #3C76C8;
        font-size: 38px;
        font-weight: bolder;
      }
      .text {
        line-height: 30px;
        font-size: 20px;
        margin-top: 1vw;
        font-weight: 500;
      }
      .info {
        margin-top: 1vw;
        font-size: 15px;
        line-height: 1.2vw;
        font-weight: 500;
      }

      .btn {
        margin-top: 3vw;
        font-size: 15px;
      }
    }
    .right {
      width: 60%;
      background-image: url("../assets/images/happy_bz.jpg");
      background-size:cover;
      background-repeat: no-repeat;
      background-position-x: center;
      position: relative;
      .info-slider {
        position: absolute;
        right: 0px;
        bottom: 0px;
        background-color: rgba($primary, .8);
        color: white;
        width: 40%;
        padding: 1vw;
        .item {
          height: 20vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .title {
            font-size: 22px;
          }
          .content {
            font-size: 15px;
            margin-top: .5vw;
          }
          .btn {
            align-self: center;
            font-size: 14px;
            padding: .7vw 1vw;
          }
        }
      }
    }
  }

  .first {
    margin-top: 2vw;
    padding: 3vw 3vw 2vw 3vw;
    background-image: url("../assets/images/dostavim_ny_02.png");
    .wrapper {
      max-width: 1060px;
      width: 100%;
      margin: auto;
      .title {
        font-size: 40px;
        color: white;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 3vw;
        margin-top: 1vw;
      }
      .row {
        margin-top: 1vw;
        .inputs {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .item_wrap {
            .flor {
              flex: 100%;
              font-size: .8vw;
              color: white;
              margin-top: .5vw;
              span {
                border-bottom: 1px dashed white;
              }
            }
            .item {
              border: 1px solid #ffff;
              border-radius: 6px;
              display: flex;
              flex-wrap: wrap;
              color: white;
              width: 15vw;
              padding: .7vw .5vw .9vw .7vw;
              .header {
                font-size: .7vw;
                flex: 100%;
                color: #D3D3D3;
                padding-left: 2vw;
              }
              img {
                width: 25px;
                margin-right: .7vw;
              }
              input {
                background: transparent;
                outline: none;
                border: none;
                font-size: 1vw;
                color: white;
                &::placeholder{
                  color: #D3D3D3;
                  font-size: .9vw;
                }
              }

              &.small {
                width: 7vw;
                padding-top: .9vw;
                padding-bottom: .9vw;
                margin-left: 1.5vw;
                input {
                  width: 4vw;
                }
              }
            }
          }
          .btn {
            margin-left: 1.5vw;
            padding: 1.5vw 1vw;
            font-size: .8vw;
            margin-bottom: 1.5vw;
          }
          .left_arrow {
            color: white;
            font-size: 1.8vw;
            margin: 0vw 1vw;
            margin-bottom: 1vw;
          }
        }

        .items {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 3vw;
          .item {
            background: white;
            width: 240px;
            .header {
              display: flex;
              padding: 20px 15px 10px;
              height: 50px;
              justify-content: space-between;
              .company {
                width: 33.3%;
                text-align: right;
              }
              .name {
                font-size: 15px;
                color: #3C76C8;
              }
            }
            .custom_hr {
              height: 1px;
              width: 100%;
              border-bottom: 1px solid rgba(0,0,0,.2);
            }

            .flor {
              display: flex;
              font-size: 15px;
              padding: 1.2vw .7vw;
              .weight, .day {
                color: #666666;
              }
              .day {
                margin-left: 1vw;
              }
              .price {
                margin-left: auto;
                color: red;
              }
            }
          }
        }
      }
    }
  }

  .second {
    width: 100%;
    padding: 5vw 0vw;
    .wrapper {
      max-width: 1060px;
      width: 100%;
      margin: auto;
      background: url("../assets/images/dostavim_ny_019.png"), url("../assets/images/perf-bg.png") center no-repeat;
      background-size: cover;
      display: flex;
      justify-content: space-between;
      padding: 2.5vw;
      box-sizing: border-box;
      align-items: center;
      img {
        width: 4vw;
      }
      .title {
        font-size: 22px;
        font-weight: bold;
      }
      input {
        padding: 1vw;
        color: #666666;
        font-size: 18px;
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 6px;
      }
      .btn {
        padding: 20px;
        font-size: 15px;
      }
    }
  }

  .third {
    width: 100%;
    background-color: white;
    padding: 3vw;
    box-sizing: border-box;
    &.mobile {
      display: none;
    }
    .header {
      width: 100%;
      text-align: center;
      font-size: 40px;
      color: #333333;
      font-weight: bold;
    }
    .tabs {
      max-width: 1060px;
      width: 100%;
      margin: auto;
      .tab-btn {
        display: none;
      }
      ul {
        display: flex;
        max-width: 550px;
        width: 100%;
        margin: auto;
        justify-content: space-between;
        margin-top: 1vw;
        li {
          font-size: 16px;
          list-style-type: none;
          a {
            text-decoration: none;
            color: #666666;
          }
        }
      }
      .tab {
        margin-top: 4vw;
        display: flex;
        .left {
          width: 17vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 300px;
          }
          .btn {
            padding: 1vw;
            font-size: 15px;
            margin-top: 2vw;
          }
        }
        .right {
          margin-left: 2vw;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .item {
            display: flex;
            align-items: start;
            width: 40%;
            margin-top: 3vw;
            img {
              margin-right: 1vw;
            }
            .content {
              .title {
                font-size: 18px;
                color: black
              }
              .text {
                margin-top: .7vw;
                color: #666666;
                font-size: 15px;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }
}

.paralax {
  .wrapper {
    padding-bottom: 40px;
    .title {
      width: 100%;
      padding-top: 4vw;
      color: black;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }

    .slider-box {
      max-width: 1060px;
      width: 100%;
      margin: auto;
      background-color: white;
      height: 53vh;
      margin-top: 4vw;

      .item {
        width: 505px;
        background-color: white;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.06);
        padding: 1.5vw 2vw;
        box-sizing: border-box;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .slid-wrapper {
          .slid-title {
            font-size: 22px;
            font-weight: bolder;
            color: $primary;
            text-align: center;
          }

          .content {
            color: #666666;
            font-size: 15px;
            text-align: center;
            line-height: 1.6;
            margin-top: 1vw;
          }
        }

        .slid-footer {
          position: relative;
          border-top: 1px solid rgba(0,0,0,.3);
          img {
            width: 2.7vw;
            margin: auto;
            position: absolute;
            left: 45%;
            top: -3.5vh;
          }
          .name {
            text-align: center;
            font-size: 1vw;
            font-weight: bolder;
            padding-top: 2vw;
          }
        }

      }
    }

    .title-partners {
      width: 100%;
      padding-top: 6vw;
      color: black;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }

    .partners-block {
      max-width: 1060px;
      width: 100%;
      margin: auto;
      margin-top: 2vw;
      background: white;
      height: 20vh;
      .item {
        width: 8vw;
        height: 100%;
        display: flex;
        align-items: center;
        height: 20vh;
        img {
          width: 8vw;
        }
      }
    }
  }

}

footer {
  width: 100%;
  background-color: white;
  margin-top: 2vw;
  padding: 4vw 0vw;
  .wrapper {
    max-width: 1060px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .company {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-size: 14px;
      }
      img {
        width: 125px;
        margin-top: .5vw;
      }
    }

    .address {
      font-size: 14px;
      line-height: 1.5;
    }

    .links {
      width: 370px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }
  }
}

@media (max-width:  930px) {

  .navigation_mobile {
    border-top: .55px solid rgba(0,0,0,.35);
    background-color: white;
    width: 100%;
    display: block;
    .row {
      padding: 1vw;
      img {
        width: 7vw;
      }
      .close {
        display: none;
      }
    }
    .wrapper {
      display: none;
      width: 100%;
      background-color: #f5f5f5;
      position: absolute;
      z-index: 1;
      .item {
        font-size: 4vw;
        border-bottom: 1px solid rgba(0,0,0,.5);
        padding: 3vw;

        a {
          text-decoration: none;
          color: gray;
          text-transform: uppercase;
          letter-spacing: .3vw;
        }
      }
    }
  }

  header {
    padding: 2vw 0vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
    width: 100%;
    .wrapper {
      width: 100%;
      .row {
        justify-content: center;
        .phone {
          display: none;
        }
        .btn {
          display: none;
        }
        .profil {
          display: none;
        }
      }
    }
    .navigation {
      display: none;
    }
  }

  main {
    width: 100%;
    .info_box {
      width: 100%;
      margin-top: 20vh;
      height: unset;
      .right {
        display: none;
      }
      .left {
        width: 100%;
        padding: 7vw;
        .title {
          font-size: 10vw;
        }

        .text {
          font-size: 5vw;
        }

        .info {
          font-size: 4vw;
          line-height: 1.5;
        }
        .btn {
          width: 100%;
          font-size: 3.5vw;
          text-align: center;
          padding: 4vw;
          box-sizing: border-box;
        }
      }
    }

  }

  .first {
    .wrapper {
      width: 100%!important;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 10vw!important;
      }
      .row {

        .inputs {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          .item_wrap {
            margin-top: 5vw;
            .flor {
              font-size: 4vw!important;
            }
            .item {
              border: 1px solid #ffff!important;
              border-radius: 6px!important;
              display: flex!important;
              flex-wrap: wrap!important;
              color: white!important;
              width: 70vw!important;
              padding: 3vw 2vw 4vw 3vw!important;
              &.small {
                width: 50vw!important;
              }
              .header {
                font-size: 3vw!important;
                flex: 100%!important;
                color: #D3D3D3!important;
                padding-left: 9vw!important;
              }
              input {
                background: transparent;
                outline: none;
                border: none;
                font-size: 5vw!important;
                color: white;
                &::placeholder{
                  color: #D3D3D3;
                  font-size: 5vw!important;
                }
              }
            }
          }
          .btn {
            margin-left: 1.5vw!important;
            padding: 4vw!important;
            font-size: 5vw!important;
            margin-bottom: 1.5vw!important;
          }
        }

        .items {
          display: flex!important;
          flex-direction: column!important;
          align-items: center;
          width: 100%!important;
          margin-top: 5vw!important;
          .item {
            background: white!important;
            width: 70vw!important;
            margin-top: 3vw!important;
            .header {
              display: flex!important;
              padding: 4vw 2vw 2vw 4vw!important;
              justify-content: space-between!important;
              .name {
                width: 100%!important;
                font-size: 5vw!important;
                color: #3C76C8!important;
              }
              img {
                width: 13vw!important;
              }
            }
            .flor {
              display: flex!important;
              font-size: 4vw!important;
              padding: 3vw 2vw!important;
            }
          }
        }
      }
    }
  }

  .second {
    width: 100%;
    padding: 5vw 0vw;
    .wrapper {
      width: 70vw!important;
      display: flex!important;
      flex-direction: column!important;
      padding: 11vw!important;
      img {
        width: 20vw!important;
      }
      .title {
        font-size: 6vw!important;
        font-weight: bold!important;
        text-align: center!important;
      }

      input {
        padding: 5vw!important;
        color: #666666!important;
        font-size: 4vw!important;
        border: 1px solid rgba(0, 0, 0, 0.3)!important;
        border-radius: 6px!important;
        margin-top: 4vw!important;
      }

      .btn {
        padding: 4vw!important;
        font-size: 4vw!important;
        margin-top: 4vw!important;
      }
    }
  }

  .third {
    display: none;
  }
  .mobile {
    display: block!important;

    .header {
      width: 100% !important;
      text-align: center !important;
      font-size: 12.2vw !important;
      color: #333333 !important;
      font-weight: bold !important;
    }
    .tabs {
      padding: 4vw !important;
      width: 100% !important;
      box-sizing: border-box !important;
      .tab-btn {
        display: block !important;
      }
    }
    #accordion {

      .tab {
        height: fit-content!important;
        .left {
          width: 100%!important;
          display: flex!important;
          flex-direction: column!important;
          justify-content: center!important;
          align-items: center;
          img {
            width: 70vw !important;
          }
          .btn {
            width: fit-content !important;
            padding: 4vw !important;
            font-size: 4vw !important;
            margin-top: 2vw !important;
            width: 50vw !important;
            text-align: center !important;
          }
        }
        .right {
          margin-left: 2vw !important;
          display: flex !important;
          flex-wrap: wrap !important;
          justify-content: space-between !important;
          .item {
            display: flex !important;
            align-items: start !important;
            width: 100% !important;
            margin-top: 8vw !important;
            .content {
              .title {
                font-size: 5vw !important;
                color: black !important;
              }
              .text {
                margin-top: .7vw !important;
                color: #666666 !important;
                font-size: 4.5vw !important;
                line-height: 1.5 !important;
              }
            }
            img {
              margin-right: 4vw !important;
              width: 15vw !important;
            }
          }
        }
      }
    }
  }

  .paralax {
    .wrapper {
      .title {
        font-size: 13vw!important;
      }
      .title-partners {
        margin-top: 35vh!important;
        font-size: 8vw!important;
      }
      .partners-block {
        margin-top: 5vh!important;
        width: 90vw!important;
        .item {
          width: unset!important;
          img {
            width: 60vw!important;
            margin: auto;
          }
        }
      }
      .slider-box {
        width: 90vw!important;
        .item {
          height: unset!important;
          width: 100% !important;
          .slid-wrapper {
            .slid-title {
              font-size: 6vw!important;
              margin-top: 2vw!important;
            }
            .content {
              font-size: 5vw!important;
              margin-top: 2vw!important;
            }

          }
          .slid-footer {
            .name {
              font-size: 4vw!important;
            }
          }
        }
      }
    }
  }

  footer {
    .wrapper {
      width: 100%;
      box-sizing: border-box;
      padding: 0vw 5vw;
      flex-direction: column;
      .company {
        display: flex;
        flex-direction: column;
        align-items: unset;
        width: unset;
        .title {
          font-size: 4vw;
        }
      }
      .address {
        font-size: 4vw;
        margin-top: 2vw;
        width: 100%;
      }

      .links {
        width: 100%;
        font-size: 4vw;
        margin-top: 3vw;
        display: flex;
        flex-direction: column;
        a {
          margin-top: 3vw;
        }
      }
    }
  }

}